<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin control panel</title>
</head>
<body>
<a href="/admin/files">files panel</a>
<a href="/admin/users">users panel</a>
</body>
</html>