<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User management</title>
</head>
<body>
    <label for="uploadUsers">Users with upload permission:</label>
	<% const uploadKeys = users.keys.filter(u => u.scopes.includes("upload")) %>
	<% const adminKeys = users.keys.filter(u => u.scopes.includes("admin")) %>
    <ul id="uploadUsers">
        <% if (uploadKeys.length >= 1) { %>
            <% for (const user of uploadKeys) { %>
            <li>
                <div class="item">
                    <%=user.username%>: <%=user.key%>
                </div>
            </li>
            <% } %>
        <% } else { %>
            <h1>No upload users :/</h1>
        <% } %>
    </ul>

    <label for="adminUsers">Users with admin permission:</label>
    <ul id="adminUsers">
        <% if (adminKeys.length >= 1) { %>
            <% for (const user of adminKeys) { %>
                <li>
                    <div class="item">
                        <%=user.username%>: <%=user.key%>
                    </div>
                </li>
            <% } %>
        <% } else { %>
            <h1>No admin users :/</h1>
        <% } %>
    </ul>
</body>
</html>