<div class="topnav">
	<a href="/" class="title">Tyman</a>
	<div class="items">
		<a href="/">Home</a>
		<a href="/contact">Contact</a>
		<a href="/coolstuff">Cool stuff</a>
		<a href="/api">API</a>
		<a href="/admin/login">Admin</a>
	</div>
</div>