<div class="topnav">
	<a href="/" class="title">Tyman</a>
	<a href="/admin/login" class="item">Admin</a>
	<a href="/coolstuff" class="item">Cool stuff</a>
	<a href="/api" class="item">API</a>
	<a href="/contact" class="item">Contact</a>
	<a href="/" class="item">Home</a>
</div>