<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <script>
		async function delFile(file) {
			const formData = new FormData()
			formData.append('file', file)
            let url = window.location.href.split('/')
            url = url[0] + '//' + url[2] + '/admin/files'
			await fetch(url, {
				method: 'DELETE',
				body: formData
			})
			location.reload()
		}
    </script>
    <style>
        li>div { display: none; }
        li:hover>div { display: block; }
    </style>
</head>
<body>
<% if (files) { %>
    <ul>
        <% if (files.length >= 1) { %>
            <% for (const file in files) { %>
                <li>
                    <a href="/<%=files[file]%>" target="_blank"><%= files[file] %></a>
                    <button class="deleteButton" onclick="delFile('<%=files[file]%>')">Delete</button>
                    <div>
                        <img src="/<%=files[file]%>"  alt="" />
                    </div>
                </li>
            <% } %>
        <% } else { %>
            <h1>No files :/</h1>
        <% } %>
    </ul>
<% } else {%>
<h1>Error: files not found</h1>
<% } %>
</body>
</html>