<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
	<link rel="stylesheet" href="/css/default.css"> 
</head>
<body>
	<%- include('partials/header') %>
	<h1>Contact methods</h1>
	<ul>
		<li>Discord: Tyman#0001</li>
		<li>Email: <a href="mailto:tyman@tyman.tech">tyman@tyman.tech</a></li>
	</ul>
</body>
</html>