<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mod Files</title>
	<link rel="stylesheet" href="modfiles.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="/semver.browser.js"></script>
	<script src="/files.js"></script>
</head>

<body>
	<h1 id="header">Mod files (loading...)</h1>
	<input id="searchBar" type="text" placeholder="Search here">
	<div id="files"></div>
</body>

</html>