<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Image uploader</title>
		<link rel="stylesheet" href="/default.css">
	</head>
    <body>
		<%- include('partials/header') %>
        To get information for my custom image uploader, DM me on discord, Tyman#7318
    </body>
</html>