<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css" />
        <title>Tyman</title>
    </head>
    <body>
        <h1>Hello. Welcome to my website. I will make this look better soon.<br>
            For now, use links below.</h1>
        <ul>
            <li><a href="https://github.com/TymanWasTaken">My github</a></li>
            <li><a href="bubbles.ejs">Bubble pop</a></li>
            <li><a href="imguploader.ejs">ShareX Image uploader</a></li>
            <li><a href="login">Admin pannel login</a></li>
        </ul>
        <h3>Planned additions:</h3>
        <ul>
            <li>Games</li>
        </ul>
    </body>
</html>
