<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>403</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<%- include('../partials/header') %>
	<h1>Whoops!</h1>
	<h3>
		You appear to have found a page that you do not have permission to access!
		Use the buttons above to navigate back home, or log in <a href="/admin/login">here</a>.
	</h3>
</body>
</html>