<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<%- include('../partials/header') %>
	<h1>Whoops!</h1>
	<h3>You appear to have found a page that does not exist! Use the buttons above to navigate back home.</h3>
</body>
</html>