<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tyman.tech API</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<%- include('../partials/header') %>
	<h1>Tyman.tech API</h1>
	<a href="/api/docs">API Docs</a>
</body>
</html>