@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
:root {
	--primary-color: white;
	--text-color: black;
	--secondary-color: #c2c2c2;
	--navbar-hover-color: #ddd;
	--navbar-color: #cccccc;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #232323;
		--text-color: white;
		--secondary-color: #171717;
		--navbar-hover-color: rgb(34, 34, 34);
		--navbar-color: #333;
	}
}

html {
	background-color: var(--primary-color);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

body {
	text-align: center;
	margin: 0;
}

.topnav {
	overflow: hidden;
	background-color: var(--navbar-color);

	> a {
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		color: var(--text-color);

		&:visited {
			color: var(--text-color);
		}

		&.item {
			float: right;

			&:hover {
				background-color: var(--navbar-hover-color);
			}
		}

		&.title {
			float: left;
		}
	}
}
