@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
:root {
	--primary-color: white;
	--text-color: black;
	--secondary-color: #c2c2c2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #232323;
		--text-color: white;
		--secondary-color: #171717;
	}
}

html {
	background-color: var(--primary-color);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

body {
	text-align: center;
}
