@import 'variables';
@import 'header';

html {
	box-sizing: border-box;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
