@import 'default';

input#searchBar {
	margin: 0 auto;
	display: block;
	width: 75%;
	line-height: 28px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #2d9fd9;
	padding-left: 10px;
	color: var(--text-color);
	background-color: var(--secondary-color);
	outline: none;
}

div#files {
	border-color: black;
	border-style: solid;
	border-radius: 10px;
	position: absolute;
	top: 57%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 90%;
	height: 75%;
	overflow: auto;
	background-color: var(--primary-color);
	margin-top: 5px;

	> a {
		color: inherit;
		text-decoration: inherit;

		> div {
			padding: 2%;
			width: auto;
			height: auto;
			white-space: nowrap;
			font-weight: 125%;

			&:hover {
				background-color: var(--secondary-color);
				text-decoration: underline;
			}
		}
	}
}

.hidden {
	display: none;
}

a {
	color: blue;

	&:visited {
		color: blue;
	}
}

* {
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(0, 190, 248, 0.575);
	}
	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);
	}
}
